  <div class="mt-8 flow-root">
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <h2 class="text-lg font-semibold text-gray-900">Incidencias</h2>
        <div class="mt-4">
          <ul role="list" class="divide-y divide-gray-100">
            <% @incidents.each do |incident| %>
              <li class="flex items-center justify-between gap-x-6 py-5">
                <div class="min-w-0">
                  <div class="flex items-start gap-x-3">
                    <p class="text-sm/6 font-semibold text-gray-900">Incidencia</p>
                    <p class="mt-0.5 whitespace-nowrap rounded-md <%= incident.resolved? ? 'bg-green-50 text-green-700 ring-green-600/20' : 'bg-yellow-50 text-yellow-700 ring-yellow-600/20' %> px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset">
                      <%= incident.resolved? ? "Resuelto" : "Pendiente" %>
                    </p>
                  </div>
                  <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
                    <p class="whitespace-nowrap">Fecha: <time datetime="<%= incident.created_at.strftime("%Y-%m-%d") %>"><%= incident.created_at.strftime("%d/%m/%Y") %></time></p>
                    <svg viewBox="0 0 2 2" class="size-0.5 fill-current">
                      <circle cx="1" cy="1" r="1" />
                    </svg>
                    <p class="truncate">Descripción: <%= incident&.issue %></p>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <%= will_paginate @incidents, param_name: :incidents_page, params: { 
            attendance_page: params[:attendance_page], 
            overtime_page: params[:overtime_page], 
            events_page: params[:events_page] 
          } %>
        </div>
      </div>
    </div>
  </div>