<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900">Detalles de Nómina</h1>
      <p class="mt-2 text-sm text-gray-700">Información detallada de la nómina del empleado <%= @payroll.employee.full_name %></p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none flex space-x-4">
      <%= link_to recalculate_payroll_path(@payroll), 
                  data: { turbo_method: :patch }, 
                  class: "inline-flex items-center gap-x-2 rounded-md bg-transparent px-3.5 py-2.5 text-sm font-semibold text-indigo-600 ring-1 ring-inset ring-indigo-600 hover:bg-indigo-600 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" do %>
        Recalcular
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
      <% end %>
      <%= link_to payroll_path(@payroll, format: :pdf), class: "inline-flex items-center gap-x-2 rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" do %>
        Descargar
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12" />
        </svg>
      <% end %>
    </div>
  </div>

  <div class="mt-8 flow-root">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Información General</h3>
      </div>
      <div class="border-t border-gray-200">
        <dl>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Empleado</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <strong>
                <%= @payroll.employee.full_name %>
              </strong>
            </dd>
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Período</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <%= @payroll.start_date.strftime("%d/%m/%Y") %> - <%= @payroll.end_date.strftime("%d/%m/%Y") %>
              <span class="ml-2 text-gray-500">
                (<%= (@payroll.end_date - @payroll.start_date).to_i + 1 %> días)
              </span>
            </dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Total Horas Trabajadas</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @payroll.total_hours_worked %> <span class="text-xs">(<%= format_hours_to_human_readable(@payroll.total_hours_worked ) %>)</span>  </dd>
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Total Horas Extra</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @payroll.total_overtime_hours %> <span class="text-xs">(<%= format_hours_to_human_readable(@payroll.total_overtime_hours ) %>)</span> </dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Total Incidentes</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @payroll.unresolved_incidents %> pendientes (de <%= @payroll.incidents.count %>)</dd>
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Pago Base</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= number_to_currency(@payroll.total_payment - @payroll.overtime_records.sum(:compensation)) %></dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Pago Horas Extras</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= number_to_currency(@payroll.overtime_records.sum(:compensation)) %></dd>
          </div>
          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Pago Total</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= number_to_currency(@payroll.total_payment) %></dd>
          </div>
          <% if @payroll.comments.present? %>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">Comentarios</dt>
              <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @payroll.comments %></dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>
  </div>

<div class="mt-8" data-controller="tab">
  <div class="border-b border-gray-200">
    <nav class="-mb-px flex space-x-8" aria-label="Tabs">
      <button class="border-indigo-500 text-indigo-600 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium" data-tab-target="tab" data-action="click->tab#switch" data-tab="attendance">
        Asistencias
      </button>
      <button class="border-transparent text-gray-500 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium" aria-current="page" data-tab-target="tab" data-action="click->tab#switch" data-tab="overtime">
        Horas Extra
      </button>
      <button class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium" data-tab-target="tab" data-action="click->tab#switch" data-tab="incidents">
        Incidentes
      </button>
    </nav>
  </div>

  <div class="hidden tab-content" data-tab-target="content" data-tab="overtime">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Horas Extra</h3>
      </div>
      <div class="border-t border-gray-200">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900">Fecha</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Horas</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Valor Hora</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Total</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @payroll.overtime_records.each do |overtime| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-900"><%= overtime.date.strftime("%d/%m/%Y") %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= overtime.hours_worked.round(2) %> <span class="text-xs">(<%= format_hours_to_human_readable(overtime.hours_worked) %>)</span> </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= number_to_currency(overtime.compensation / overtime.hours_worked) %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= number_to_currency(overtime.compensation) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="hidden tab-content" data-tab-target="content" data-tab="incidents">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Incidentes</h3>
      </div>
      <div class="border-t border-gray-200">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900">Fecha</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Problema</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Estado</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Acciones</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @payroll.incidents.each do |incident| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-900"><%= incident.date.strftime("%d/%m/%Y") %></td>
                <td class="px-3 py-4 text-sm text-gray-500"><%= incident.issue %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm">
                  <% if incident.resolved %>
                    <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                      Resuelto
                    </span>
                  <% else %>
                    <span class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-700 ring-1 ring-inset ring-yellow-600/20">
                      Pendiente
                    </span>
                  <% end %>
                </td>
                <td>
                  <% unless incident.resolved %>
                    <%= button_to "Marcar como Resuelto", resolve_incident_path(incident), method: :patch, class: "text-indigo-600 hover:text-indigo-900 px-3 py-1" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="tab-content" data-tab-target="content" data-tab="attendance">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Registros de Asistencia</h3>
      </div>
      <div class="border-t border-gray-200">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900">Fecha</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Entrada</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Salida</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Hora de Almuerzo</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Horas Trabajadas</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Estado</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @payroll.attendance_records.each do |record| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-900">
                  <%= record.entry_time.strftime("%d/%m/%Y") %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= record.entry_time.strftime("%H:%M") %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= record.exit_time&.strftime("%H:%M") || "Pendiente" %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= lunch_inclusion_label(record.schedule) %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= record.hours_worked %> <span class="text-xs">(<%= format_hours_to_human_readable(record.hours_worked) %>)</span>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm">
                  <% if record.processed %>
                    <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                      Procesado
                    </span>
                  <% else %>
                    <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-red-600/10 ring-inset">
                      Pendiente
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
