<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarjeta de Horario</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      color: #111827;
    }
    .container {
      max-width: 800px;
      margin: auto;
      background-color: white;
      padding: 20px;
      border: 1px solid #ccc;
    }
    h2 {
      font-size: 18px;
      font-weight: bold;
    }
    .header, .footer {
      width: 100%;
      border-bottom: 2px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
    .header table, .footer table {
      width: 100%;
      border-collapse: collapse;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #e2e8f0;
    }
    .highlight {
      font-weight: bold;
      color: #1e40af;
    }
    .signature {
      width: 100%;
      margin-top: 20px;
      border-top: 2px solid #ccc;
      padding-top: 10px;
    }
    .signature table {
      width: 100%;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <table>
        <tr>
          <td>
            <h2>MULTICARNES S.R.L.</h2>
            <p>RUC: 800380940</p>
          </td>
          <td style="text-align: right;">
            <h2>Tarjeta de Horario</h2>
            <p>Del <%= @payroll.start_date.strftime("%d/%m/%Y") %> al <%= @payroll.end_date.strftime("%d/%m/%Y") %></p>
          </td>
        </tr>
      </table>
    </div>
    
    <div>
      <p><strong>Nombre:</strong> <%= @payroll.employee.full_name %></p>
      <p><strong>Nómina:</strong> <%= number_with_delimiter(@payroll.employee&.document_number&.to_i) %> | <strong>Ingreso:</strong> <%= @payroll.employee.hire_date.strftime("%d/%m/%Y") %></p>
      <p><strong>Función:</strong> <%= @payroll.employee.group.name %></p>
    </div>

    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Extras</th>
        </tr>
      </thead>
      <tbody>
        <% @payroll.attendance_records.each do |record| %>
          <tr>
            <td><%= l(record.entry_time, format: "%A - %d/%m/%y") %></td>
            <td>
              <%= record.entry_time.strftime("%H:%M") %> 
              <span style="font-size: 0.85em; color: #9CA3AF;">(<%= record.schedule.expected_entry_time.strftime("%H:%M") %>)</span>
            </td>
            <td>
              <%= record.exit_time&.strftime("%H:%M") || "-" %> 
              <span style="font-size: 0.85em; color: #9CA3AF;">(<%= record.schedule.expected_exit_time.strftime("%H:%M") %>)</span>
            </td>
            <td>
              <% 
                date_overtimes = @payroll.overtime_records.select { |ot| ot.date == record.entry_time.to_date }
                total_overtime_hours = date_overtimes.sum(&:hours_worked)
                
                if total_overtime_hours > 0
                  hours = total_overtime_hours.to_i
                  minutes = ((total_overtime_hours % 1) * 60).to_i
              %>
                <%= sprintf("%02d:%02d", hours, minutes) %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <div>
      <br>
      <p class="highlight">Horas Extras: <%= @payroll&.total_overtime_hours %> horas</p>
      <p class="highlight">Días no Trabajados: <%= @not_worked_days %></p>
      <p class="highlight">Llegadas Tardías: <%= @payroll&.incidents&.late_arrivals&.count %></p>
    </div>
    
    <div class="signature">
      <table>
        <tr>
          <td>
            <p><strong><%= AppSetting&.hr_manager_name %></strong></p>
            <p><%= AppSetting&.hr_manager_title %></p>
          </td>
          <td style="text-align: right;">
            <p><strong><%= AppSetting&.admin_manager_name %></strong></p>
            <p><%= AppSetting&.admin_manager_title %></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
