<main>
  <div class="relative isolate overflow-hidden">
    <!-- Secondary navigation -->
    <header class="pb-4 pt-6 sm:pb-6">
      <div class="mx-auto flex max-w-7xl flex-wrap items-center gap-6 px-4 sm:flex-nowrap sm:px-6 lg:px-8">
        <h1 class="text-base/7 font-semibold text-gray-900">Dashboard</h1>
        <div class="order-last flex w-full gap-x-8 text-sm/6 font-semibold sm:order-none sm:w-auto sm:border-l sm:border-gray-200 sm:pl-6 sm:text-sm/7">
          <%= link_to "Ayer", root_path(filter: "yesterday"), class: "text-gray-700 hover:text-indigo-600 #{'text-indigo-600 font-bold' if params[:filter].nil? || params[:filter] == 'yesterday'}" %>
          <%= link_to "Esta semana", root_path(filter: "week"), class: "text-gray-700 hover:text-indigo-600 #{'text-indigo-600 font-bold' if params[:filter] == 'week'}" %>
          <%= link_to "Este mes", root_path(filter: "month"), class: "text-gray-700 hover:text-indigo-600 #{'text-indigo-600 font-bold' if params[:filter] == 'month'}" %>
          <%= link_to "Este año", root_path(filter: "year"), class: "text-gray-700 hover:text-indigo-600 #{'text-indigo-600 font-bold' if params[:filter] == 'year'}" %>
        </div>
      </div>
    </header>

    <!-- Stats -->
    <div class="border-b border-b-gray-900/10 lg:border-t lg:border-t-gray-900/5">
      <dl class="mx-auto grid max-w-7xl grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 lg:px-2 xl:px-0">
        <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t border-gray-900/5 px-4 py-10 sm:px-6 lg:border-t-0 xl:px-8">
          <dt class="text-sm/6 font-medium text-gray-500">Empleados Activos</dt>
          <dd class="w-full flex-none text-3xl/10 font-medium tracking-tight text-gray-900"><%= @employees %></dd>
        </div>
        <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t border-gray-900/5 px-4 py-10 sm:border-l sm:px-6 lg:border-t-0 xl:px-8">
          <dt class="text-sm/6 font-medium text-gray-500">Asistencias Hoy</dt>
          <dd class="w-full flex-none text-3xl/10 font-medium tracking-tight text-gray-900"><%= @attendance_records_count %></dd>
        </div>
        <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t border-gray-900/5 px-4 py-10 sm:border-l sm:px-6 lg:border-t-0 xl:px-8">
          <dt class="text-sm/6 font-medium text-gray-500">Horas Extras Registradas</dt>
          <dd class="w-full flex-none text-3xl/10 font-medium tracking-tight text-gray-900">
            <%= @overtime_records_count %></dd> 
          </div>
        <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 border-t border-gray-900/5 px-4 py-10 sm:border-l sm:px-6 lg:border-t-0 xl:px-8">
          <dt class="text-sm/6 font-medium text-gray-500">Incidentes Reportados</dt> 
          <dd class="w-full flex-none text-3xl/10 font-medium tracking-tight text-gray-900"><%= @incidents_count %></dd> 
        </div> 
      </dl>
    </div>
  </div>

  <div class="space-y-16 py-16 xl:space-y-20">
    <!-- Recent activity table -->
    <div>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h2 class="text-base font-semibold text-gray-900">Últimos registros de asistencia</h2>
      </div>
      <div class="mt-6 overflow-hidden border-t border-gray-100">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
            <table class="w-full text-left">
              <thead>
                <tr class="text-sm/6 text-gray-900 font-semibold">
                  <th class="py-3">Empleado</th>
                  <th class="hidden sm:table-cell py-3">Hora de Entrada</th>
                  <th class="hidden sm:table-cell py-3">Hora de Salida</th>
                </tr>
              </thead>
              <tbody>
                <% @attendance_records.each do |record| %>
                  <tr class="border-t border-gray-200">
                    <td class="py-5 pr-6">
                      <div class="flex gap-x-6">
                        <div class="flex-auto">
                          <div class="text-sm/6 font-medium text-gray-900">
                            <%= record.employee&.full_name || "Empleado Desconocido" %>
                          </div>
                          <div class="mt-1 text-xs/5 text-gray-500">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="hidden py-5 pr-6 sm:table-cell">
                      <div class="text-sm/6 text-gray-900">
                        <%= record.entry_time&.strftime("%H:%M") || "N/A" %>
                      </div>
                    </td>
                    <td class="hidden py-5 pr-6 sm:table-cell">
                      <div class="text-sm/6 text-gray-900">
                        <%= record.exit_time&.strftime("%H:%M") || "N/A" %>
                      </div>
                    </td>
                  </tr>
                <% end %>
                
                <% if @attendance_records.empty? %>
                  <tr>
                    <td colspan="4" class="py-5 text-center text-gray-500">
                      No hay registros de asistencia para ayer.
                    </td>
                  </tr>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
